.form-group {
	
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.sft_txt_center{
	text-align: center;
}

.sft_prbox_inner {
    padding: 35px 25px;
    border: 1px solid #204d74;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
	background-color: rgba(23, 17, 17, 0.1);
	margin: auto;
	
}

.sft_prbox_title {
    text-transform: uppercase;
    color: #2c3e50;
    margin: 15px 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 800 !important;
    color: #204d74 !important;
}

.sft_prbox_icon {
    width: 75px;
    height: 75px;
	margin-bottom: 15px;
	text-align: center;
    background-color: #2c3e50;
    border-radius: 100%;
    display: inline-block;
    color: #fff;
    font-size: 25px;
    line-height: 75px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}