.cell {
  display: inline-block;
  width: 32px;
  height: 32px;
  padding: 5px;
  text-align: center;
}
.rc-Calendar-header {
  text-align: center;
  font-weight: bolder;
}
.rc-Month {
  display: inline-block;
  vertical-align: top;
  margin: /* 0 0 10px 10px; */ 15px 15px 15px 15px;
}
.rc-Month-header {
  text-align: center;
  font-weight: bolder;
  margin-bottom: 5px;
}
/* .rc-Month-weekdays {
  margin-left: 32px;
} */
.rc-Month-weekdays-weekday {
  display: inline-block;
  width: 32px;
  height: 32px;
  padding: 5px;
  text-align: center;
  font-weight: bolder;
}
.rc-Month--current .rc-Month-header {
  color: #337ab7;
}
.rc-Week {
  height: 32px;
}
.rc-Week-number {
  color: #777777;
  display: inline-block;
  width: 32px;
  height: 32px;
  padding: 5px;
  text-align: center;
}
.rc-Week-days {
  border-left: 1px solid #777777 er;
  border-top: 1px solid #777777 er;
  display: inline-block;
}
.rc-Week:last-child .rc-Week-days {
  border-bottom: 1px solid #777777 er;
}
.rc-Week--current {
  background-color: #5bc0de;
}
.rc-Day {
  display: inline-block;
  width: 32px;
  height: 32px;
  padding: 5px;
  text-align: center;
  border-right: 1px solid #777777 er;
  cursor: pointer;
}
.rc-Day:hover {
  background-color: #5bc0de;
}
.rc-Day--outside {
  cursor: default;
  color: #777777 er;
  opacity: 0.5;
  pointer-events: none !important;
}
.rc-Day--outside:hover {
  background-color: transparent;
}
.rc-Day--event {
  background-color: #777777 er;
}
.rc-Day--current {
  background-color: #337ab7;
}
.rc-Day--longEvent {
  background-color: #5cb85c;
}
.rc-Day--warning {
  background-color: #f0ad4e;
}
.rc-Day--booked {
  background-color: #d9534f;
}
.align-centre {
	text-align: center;
}