.sp-action-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%!important;
    margin-left: 5px;
    margin-right: 5px;
}

.bg-green {
    background: #32c5d2!important;
}

.bg-red {
    background: #e7505a!important;
}

.bg-yellow {
    background: #f0ad4e!important;
}

.sp-action {
	margin: 0;
    padding: 15px 0;
    border-bottom: 1px solid #f7f8f9;
}

 .sp-action-img {
    width: 100px !important;
	margin-left: auto;
}

.sp-action-details {
	display: table-cell;
    vertical-align: top;
	cursor: pointer;
}

.sp-action-author {
	color: #060606;
    font-weight: 600;
}

.sp-action-desc {
	margin-bottom: 0;
    color: #999b9b;
}

.sp-action-datetime {
    vertical-align: top;
    display: table-cell;
    text-align: center;
    width: 150px;
    white-space: nowrap;
    padding-top: 15px;
    color: #A6A8A8;
}

 .sp-action-buttons {
    vertical-align: top;
    display: table-cell;
    text-align: center;
    width: 160px;
    white-space: nowrap;
    padding-top: 10px;
}

.btn-group {
	position: relative;
    display: inline-block;
    vertical-align: middle;
}

.btn.btn-outline.green {
    border-color: #32c5d2;
    color: #32c5d2;
    background: 0 0;
	border-radius: 25px 0 0 25px!important;
}

.btn.btn-outline.red {
    border-color: #e7505a;
    color: #e7505a;
    background: 0 0;
	border-radius: 0 25px 25px 0px!important;
}

.btn.btn-outline.green:hover  {
	border-color: #32c5d2;
    color: #FFF;
    background-color: #32c5d2;
	border-radius: 25px 0 0 25px!important;
}

.btn.btn-outline.red:hover {
    border-color: #e7505a;
    color: #fff;
    background-color: #e7505a;
	border-radius: 0 25px 25px 0px!important;
}

.sp-action-img {
	float: right !important; /*for orientation landscape*/
}
